@import "tailwindcss";

@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@source "../node_modules/@blocknote/shadcn";

@custom-variant dark (&:is(.dark *));


html {
  scroll-behavior: smooth;
}

@theme {
    --font-heading: "DM Sans", sans-serif;
    --font-body: "Inter", sans-serif;

    --text-heading1: 48px;
    --text-heading2: 40px;
    --text-heading3: 34px;
    --text-heading4: 28px;
    --text-heading5:24px;
    --text-heading6:20px;
    --text-body1: 16px;
    --text-body2: 14px;

    --color-primary-900 : #0A1C4E;
    --color-primary-800 : #0F2971;
    --color-primary-700 : #143694;
    --color-primary-600 : #1842B6;
    --color-primary-500 : #1D4FD9;
    --color-primary-400 : #416BDF;
    --color-primary-300 : #6587E5;
    --color-primary-200 : #6587E5;
    --color-primary-100 : #AEC0F1;
    --color-primary-50 : #C0CEF4;

    --color-secondary-600 : #836313;
    --color-secondary-500 : #ba8c1b;
    --color-secondary-400 : #e1ae33;
    --color-secondary-300 : #e9c46a;
    --color-secondary-200 : #f0d89c;
    --color-secondary-100 : #f8ebcd;
    --color-secondary-50 : #e9c46a;

    --color-neutral-900: #4a4a4a;
    --color-neutral-800: #606060;
    --color-neutral-700: #777777;
    --color-neutral-600: #8e8e8e;
    --color-neutral-500: #a4a4a4;
    --color-neutral-400: #bbbbbb;
    --color-neutral-300: #d2d2d2;
    --color-neutral-200: #e8e8e8;
    --color-neutral-100: #ffffff;

    /* --radius-2xs: 8px;
    --radius-xs : 16px;
    --radius-sm : 24px;
    --radius-md : 32px;
    --radius-lg : 40px;
    --radius-xl : 48px;
    --radius-2xl : 64px;
    --radius-3xl : 80px; */

    /* --spacing-4xl : 96px;
    --spacing-3xl : 80px;
    --spacing-2xl : 64px;
    --spacing-xl : 48px;
    --spacing-lg : 40px;
    --spacing-md : 32px;
    --spacing-sm : 24px;
    --spacing-xs : 16px;
    --spacing-2xs : 8px;
    --spacing-3xs : 4px; */

}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-brand: var(--brand);
  --color-highlight: var(--highlight);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --highlight: oklch(0.852 0.199 91.936);
  --brand: oklch(0.623 0.214 259.815);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --highlight: oklch(0.852 0.199 91.936);
  --brand: oklch(0.707 0.165 254.624);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bn-editor {
 @apply w-full min-h-[500px];
}

